#!/usr/bin/make -f

export GOPATH=$(CURDIR)/obj-x86_64-linux-gnu
export GOBIN=$(CURDIR)/obj-x86_64-linux-gnu/bin
export GO111MODULE=on

%:
	dh $@ --buildsystem=golang

override_dh_auto_build:
	cp Makefile-modules.mk Makefile-plugins.mk Makefile-tools.mk api/
	make kustomize
	mkdir debian/bash-completion
	obj-x86_64-linux-gnu/bin/kustomize completion bash > debian/bash-completion/kustomize
	mkdir debian/zsh-completion
	obj-x86_64-linux-gnu/bin/kustomize completion zsh > debian/zsh-completion/_kustomize

override_dh_auto_test:
	make test-unit-kustomize-plugins

override_dh_auto_install:
	dh_auto_install -- --no-source
	rm $(CURDIR)/debian/kustomize/usr/bin/goimports
	rm $(CURDIR)/debian/kustomize/usr/bin/helmV3
	rm $(CURDIR)/debian/kustomize/usr/bin/kubeval
	rm $(CURDIR)/debian/kustomize/usr/bin/pluginator
